@import "tailwindcss";

@theme{
    --color-loginBlue: #ACE8F4;
    --color-registerBlue: #EEF7FC;
    --color-logoBlue: #47CAE4;
    --color-titleBlue1: #00B3D8;
    --color-titleBlue2: #0077B5;
    --color-fontWhite: #FFFFFF;
    --color-fontDark: #636363;
    --color-fontBlack: #000000;
    --color-inputBg: #FFFEFE;

    --font-karla: 'Karla' ,sans-serif;
    --font-jost: 'Jost' ,sans-serif;
}

@import './loginpage.css';